parameters:
    tmpDir: build/phpstan-tmp
    level: 6
    paths:
        - src/
        - tests/
    bootstrapFiles:
        - tests/bootstrap.php
    excludePaths:
        - tests/_support/*
    scanDirectories:
        - ../../../vendor/codeigniter4/framework/system/Helpers
    universalObjectCratesClasses:
        - CodeIgniter\Entity
        - CodeIgniter\Entity\Entity
        - Faker\Generator
    dynamicConstantNames:
        - APP_NAMESPACE
        - CI_DEBUG
        - ENVIRONMENT
